
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  max-width:750px;
  margin:auto;
}

/*MAP HOLDER*/

#mapHead {
	font-size:30px;
	text-align: left;
	margin-top: 20px;
}

#mapWrap {
  position: relative;
  display: block;
  margin: 0 auto;
  height:550px;
  max-width:750px;
}

#map {
  width:100%;
  height:500px;
  border:1px solid #d3d3d3;
  position: relative;
}

#mapDropdownWrap {
	display: inline-block;
    margin: 10px auto;
    width: 300px;
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: middle;
}

#mapDropdown {
	width:100%;
/*	display: block;
	width:300px;
	margin: 10px 10px;*/
}

/*MAP BTN*/

#mapBtnHolder {
	position: absolute;
    display: inline-block;
    /* float: right; */
    top: 10px;
    right: 45px;
    /* right: 0; */
    z-index: 1;
    margin: auto;
    text-align: center;
    /* margin-bottom: 20px; */
}

.mapBtn {
    display: inline-block;
    width: 145px;
    background-color: #fff;
    padding: 5px 12px;
    color: #333;
    border-radius: 3px;
    font-size: 10px;
    box-shadow: 1px 1px 1px #d3d3d3;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#mapBtnHolder div:first-of-type {
	margin-right: 6px;
}

.mapBtn:hover {
	cursor:pointer;
	background-color: #efefef;
}

.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-layers {
    border: none;
}

#mapTable {
	display: block;
	width:100%;
	font-size:20px;
	margin-top: 10px;
	text-align:center;
}

/*LEGEND*/

#mapLegend {
    display: inline-block;
    margin: 14px auto 14px 10px;
    vertical-align: middle;
}

#mapLegend span {
	display: inline-block;
	margin: 0 5px;
	width:20px;
	height:10px;
	opacity:0.5;
}

#mapLegend label {
	display: inline-block;
	color:#555;
	font-size:12px;
	margin-right: 8px;
}

/*POPUP*/

.leaflet-popup {
	min-width: 250px;
	pointer-events: none;
}

.leaflet-popup-content, .leaflet-popup-content-wrapper {
	pointer-events: none;
}

.leaflet-container a {
    z-index: 100;
    /*display: none;*/
}

.leaflet-fade-anim .leaflet-popup {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

#popupBanner {
	position: absolute;
    top: 0;
    left: 0;
    font-weight:bold;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 2px 5px;
    background-color: #3EA144;
    color: #fff;
    width: 100%;
}

.leaflet-container p {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.leaflet-container p:first-of-type {
	margin-top: 15px;
}

.leaflet-container p:last-of-type {
	margin-bottom: 0px;
	font-size:10px;
}


/*MAP LABELS*/

.leaflet-marker-icon.leaflet-interactive {
	pointer-events: none;
}

.leaflet-label-water {
	font-size:10px;
	color:rgba(0,0,0,0.3);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-style: italic;
	pointer-events: none;
}

.leaflet-label-city {
	display:none;
	font-size:9px;
	line-height:12px;
	color:rgba(0,0,0,0.5);
	/*text-transform: uppercase;*/
	letter-spacing: 1px;
	/*font-style: italic;*/
	text-shadow: 1px 1px 1px #fff;
	pointer-events: none;
}

@media (max-width:650px) {
	.leaflet-container a {
    	display: block;
	}
}
